# maven outputs all compiled classes in here
target/

# eclipse specific things
.project
.classpath
.settings

# ignore any changes done on the scrapbook
scrapbook.jpage

# do not upload password information
deployment.properties
