##### The following settings are needed if the war is to be installed via maven (i.e., mvn install)
# remote server to which the war file will be copied
remote.server=your.server.com

# username/password (ssh)
remote.server.username=username
remote.server.password=password

# remote server's liferay deploy folder
remote.server.deploy.path=/path/to/your/liferay/deploy/folder

# location of the 'base' apache tomcat folder on the remote server
remote.server.tomcat.path=/home/guseuser/guse/apache-tomcat-7.0.55