##### The following settings are needed if the war is to be installed via ant (i.e., ant deploy-all)
# remote server to which the war file will be copied
remote.server=your.server.com

# location of your keyfile
keyfile.location=~/.ssh/id_rsa

# username (passwordless SSH, using provided key)
remote.server.username=guseuser

# remote server's liferay deploy folder 
remote.server.deploy.path=~/guse/deploy

# remote server's init/stop script folder (these scripts are part of gUSE release)
remote.server.scripts.path=~/guse-init-scripts