<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%date{dd.MM.yy HH:mm:ss}] %-5level %logger{0}: \(%thread\) %msg %n</pattern>
		</layout>
	</appender>

	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- portlet.name defined in build.properties -->
		<file>${catalina.home}/logs/com_workflowconversion_${portlet.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- portlet.name defined in build.properties -->
			<fileNamePattern>${catalina.home}/logs/com_workflowconversion_${portlet.name}_%d{yyyy-MM-dd}.log</fileNamePattern><!-- daily rollover -->
			<maxHistory>30</maxHistory><!-- keep 30 days' worth of history -->
		</rollingPolicy>
		<encoder>
			<pattern>[%date{dd.MM.yy HH:mm:ss}] %-5level %logger{0}.%M: \(%thread\) %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="com.workflowconversion.portlet" level="trace">
		<appender-ref ref="LOG_FILE" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>